/* Reset some default styles */
body, h1, h2, p, textarea, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", Arial, sans-serif;
  background-color: #826041; /* Light grey */
}

header {
  background-color: #593c22; /* Earth brown */
  padding: 20px;
  text-align: center;
}

h1 {
  color: #d9c0a3; /* Beige */
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* Default white */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #593c22; /* Earth brown */
  margin-bottom: 10px;
}

p {
  color: #0d0d0d; /* Almost black */
  font-size: 110%;
}
.rubric{
  color: #0d0d0d; /* Almost black */
  font-size: 100%;
  text-align: center;

}

form {
  margin-top: 10px;
}

textarea {
  width: 95%;
  height: 250px;
  padding: 10px;
  border: 3px solid #a67b56; /* Dark tan */
  resize: vertical;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #a67b56; /* Darker shade of yellow */
  color: #0D0D0D; /* Almost black */
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Rounded button */
  transition: background-color 0.5s; /* Transition duration of 0.5 seconds */
}

button[type="submit"]:hover {
  background-color: #80C741; /* Green */
}


footer {
  background-color: #593c22; /* Earth brown */
  padding: 10px;
  text-align: center;
}

footer p {
  color: #f2f2f2; /* Light grey */
}

/* Add these styles at the end of your existing CSS code */

.left-image,
.right-image {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  height: 130px; /* Adjust the height as needed */
}

.left-image {
  left: calc(50% - 230px); /* Adjust the distance from the left side */
}

.right-image {
  right: calc(50% - 220px); /* Adjust the distance from the right side */
}

.line {
  border-bottom: 1px solid #593c22; /* Line color */
  margin: 10px 0;
}
